.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-cl);

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__address-wrap {
    margin-right: 93px;
  }

  &__logo {
    @extend %link;
    display: flex;
    margin-bottom: 20px;
  }

  &__list {
    @extend %list;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__address {
    font-style: normal;
    text-decoration: none;
    line-height: 1.7;
    color: var(--main-light);
  }

  &__socials {
    margin-right: 93px;
  }

  &__subtitle {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-light);
  }
}

.footer__link {
  @extend %link;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
