html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-font-cl);

    background-color: var(--main-light);
}

.no-scroll {
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}